#container {
    display: flex;
}
#container div {
    border: #4CAF50 solid 1px;
    padding: 5px;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 0;
}
/*This will define new styles for different screen sizes*/
@media screen and (max-width: 720px) {
    #container {
        flex-wrap: wrap;
    }
    #container div{
        width: 30%;
    }
}
@media screen and (max-width: 600px) {
    #container div{
        width: 40%;
    }
}
@media screen and (max-width: 500px) {
    #container {
        flex-direction: column;
    }
    #container div{
        width: 100%;
    }
}